.w3-sidebar {
  background-color: #C33C54;
  z-index: 3;
  width:300px;
  font-weight:bold;
  color: white
}

#section-anel {
  margin-top: -50px
}

.w3-btn {
  margin-top: 20px
}

#top-anel {
  margin-top:-10px;
  color: #4c6a92;
}

.form-anel .w3-text {
  color: #4c6a92;
}

.form-anel .w3-input {
  width: 30%
}

.form-anel .form-group {
  margin-top: 20px
}

.form-anel .w3-container {
  margin-top: 15px
}

.w3-container .container-anel {
  margin-top: 80px
}

.w3-light-grey {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.w3-round {
  margin-top: -5px;
  width: 50px;
  border: 5px solid #4c6a92;
}

#btn-anel {
  background-color: #4c6a92;
  color: white
}