body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}

body {font-size:16px;}

.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}

.w3-half img:hover{opacity:1}

.w3-main {
  margin-left: 340px;
  margin-right: 40px
}

.w3-padding-64 {
  color:white
}

.w3-sidebar {
  background-color: #C33C54;
  z-index: 3;
  width:300px;
  font-weight:bold;
  color: white
}

#section-anel {
  margin-top: -50px
}


.w3-btn {
  margin-top: 20px
}

#top-page {
  margin-top:-10px;
  color: #C33C54;
}

.form-page .w3-text {
  color: #C33C54;
}

.form-page .w3-input {
  width: 30%
}

.form-page .form-group {
  margin-top: 20px
}

.form-page .form-group-select {
  margin-top: 20px
}

.form-page .w3-container {
  margin-top: 15px
}

.w3-container .container-top-page {
  margin-top: 80px
}

.w3-light-grey {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.w3-round {
  margin-top: -5px;
  width: 50px;
  border: 4px solid #C33C54;
}

#btn-anel {
  background-color: #C33C54;
  color: white
}

.custom-select {
  margin-top: 15px;
}

.multi-select {
  margin-top: 15px;
}

.form-parada {
  margin-top: 15px;
}

.form-parada .form-group-select {
  margin-top: -15px;
}